.locationsListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.locationFlexContainer {
    width: 45%;
}


.locationDetailsContainer p {
    font-family: 'Blaka', cursive;
    color: rgb(250, 218, 58);
    text-align: start;
}


@media screen and (max-width: 991px) {
    .locationFlexContainer {
        width: 90%;
    }
}
